Skip to content
This repository
Search
Pull requests
Issues
Gist
 @ivanrudnytskyi
 Watch 0
  Star 0
  Fork 0 ivanrudnytskyi/softserve.training.Lv-196_Java.Task_1
 Code  Issues 0  Pull requests 0  Wiki  Pulse  Graphs  Settings
Branch: simplified Find file Copy pathsoftserve.training.Lv-196_Java.Task_1/.gitignore
e7b17b6  42 minutes ago
@ivanrudnytskyi ivanrudnytskyi changed gitignore
1 contributor
RawBlameHistory     47 lines (37 sloc)  609 Bytes
.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore all temporary files in the root directory
*.[oa]
/bin/

/.externalToolBuilders/
/.settings/
/target/
/doc/
/test-output/
/report/
/.classpath
/.project
/.checkstyle
/reports
/af.reporting
/.idea/
*.iml

# ignore log
*.log

# ignore log
*.bmp

# ignore doc/notes.txt, but not doc/info/arch.txt
# doc/*.txt

# ignore all .txt files in the directory doc/
# doc/**/*.txt

# ignore .doc .pfd .docx
*.doc
*.docx
*.pdf
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help