<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">{{ 'driver_menu' | translate }}</span>
        </div>
        <div class="input-group" style="margin-top: 5mm; float: right">
            <input class="btn btn-default btn-sm" ng-click="redirect()" value="{{ 'find_newOrder' | translate }}">
        </div>
    </div>
</div>
<div class="main" style="margin-top: 20mm">
    <div>
        <h1 style="font-size: 25px">There will be some info about active offers, orders in progress etc. for current driver</h1>
    </div>
</div>