<div class="navbar navbar-inverse navbar-static-top users" style="background-color: #148b73">
    <div class="container-fluid">
		<span class="navbar-brand">{{ 'statistics' | translate }}</span>
    </div>
</div>
<md-content class="md-padding data" layout-xs="column" layout="row" class="row">
    <div flex-xs flex-gt-xs="65" layout="column">

      <md-card md-theme="{{'default'}}" md-theme-watch class="data-row">
      	<md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ 'daily_stats' | translate }}</span>
            <span class="md-subhead">{{ 'today_stats_opt' | translate }}</span>
          </md-card-title-text>
             <div class="data-date">
            	<md-datepicker ng-model="dateOfAnalyse" md-placeholder="Enter date"
            				   md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
            </div>
        </md-card-title>
		<div>		
			<canvas id="line" class="chart chart-line dayline" chart-data="dayData"
				chart-labels="dayLabels" chart-series="chartParams.series" chart-options="chartParams.dayOptions"
				chart-dataset-override="dayDatasetOverride" chart-click="onClick" chart-colours="chartParams.colours">
			</canvas>
		</div>
      </md-card>

      <md-card md-theme="{{'default'}}" md-theme-watch class="data-row">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ 'monthly_stats' | translate }}</span>
            <span class="md-subhead">{{ 'monthly_stats_opt' | translate }}</span>
          </md-card-title-text>
            <div class="data-month">
                 <md-input-container>
            			<md-select ng-model="monthOfAnalyse" placeholder="Month" class="month-of-analyse">
          					<md-option value="1">{{ 'jan' | translate }}</md-option>
          					<md-option value="2">{{ 'feb' | translate }}</md-option>
          					<md-option value="3">{{ 'mar' | translate }}</md-option>
          					<md-option value="4">{{ 'apr' | translate }}</md-option>
          					<md-option value="5">{{ 'may' | translate }}</md-option>
          					<md-option value="6">{{ 'jun' | translate }}</md-option>
          					<md-option value="7">{{ 'jul' | translate }}</md-option>
          					<md-option value="8">{{ 'aug' | translate }}</md-option>
          					<md-option value="9">{{ 'sep' | translate }}</md-option>
          					<md-option value="10">{{ 'oct' | translate }}</md-option>
          					<md-option value="11" ng-selected="true">{{ 'nov' | translate }}</md-option>
          					<md-option value="12">{{ 'dec' | translate }}</md-option>
        				</md-select>
        		</md-input-container>
            </div>
        </md-card-title>
		<div>		
			<canvas id="bar" class="chart chart-bar dayline"
  					chart-data="monthData" chart-labels="monthLabels" chart-series="series">
			</canvas>
		</div>
      </md-card>

      <md-card md-theme="{{'default'}}" md-theme-watch class="data-row">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ 'annual_stats' | translate }}</span>
            <span class="md-subhead">{{ 'annual_stats_opt' | translate }}</span>
          </md-card-title-text>
        </md-card-title>
		<div>		
			<canvas id="base" class="chart-horizontal-bar dayline"
  					chart-data="yearData" chart-labels="yearLabels" >
			</canvas> 
		</div>
      </md-card>
      
    </div>
 	<div flex-xs flex-gt-xs="35" layout="column">
 		<md-card md-theme="{{'default'}}" md-theme-watch class="data-row">
        <md-card-title>
          <md-card-title-text class="data-users-title">
            <span class="md-headline">{{ 'users_quantity' | translate }}</span>
            <span class="md-subhead">{{ 'users_quantity_role' | translate }}</span>
          </md-card-title-text>
        </md-card-title>
        	<div class="data-pie">
        		<div class="users-pie">
					<canvas id="doughnut" class="chart chart-doughnut"
  							chart-data="userData" chart-labels="userLabels" height="100" width="100">
					</canvas> 
				</div>
				<div class="users-pie-info">
 					<h1 class="users-info-name"><i class="fa fa-square cus-icon" aria-hidden="true"></i>{{ 'customers' | translate }}</h1>
 					<h1 class="users-info-name"><i class="fa fa-square dr-icon" aria-hidden="true"></i>{{ 'drivers' | translate }}</h1>
 					<h1 class="users-info-name"><i class="fa fa-square mod-icon" aria-hidden="true"></i>{{ 'moderat' | translate }}</h1>
 					<h1 class="users-info-name"><i class="fa fa-square adm-icon" aria-hidden="true"></i>{{ 'admins' | translate }}</h1>
				</div>
			</div>
      </md-card>
      
      <md-card md-theme="{{'default'}}" md-theme-watch class="data-row" ng-controller="usersController">
        <md-card-title>
          <md-card-title-text class="data-users-title">
            <span class="md-headline">{{ 'best_drivers' | translate }}</span>
            <span class="md-subhead">{{ 'top_5' | translate }}</span>
          </md-card-title-text>
        </md-card-title>
        	<div>
        		<md-list-item ng-repeat="user in drivers.topFive" ng-click="showUserInfo(user)" ng-init="getUserInfo(user)" class="noright topdrivers">
    				<img ng-src="{{user.photoUrl}}" title="{{user.firstName}} {{user.lastName}}"  class="md-avatar img-driver">
    					  <div class="md-list-item-text" layout="column">
            					<h1 class="driver-name">{{ user.firstName }} {{user.lastName}}</h1>
            					<h1 class="driver-info"><i class="fa fa-envelope ic-driver" aria-hidden="true"></i> {{ user.email }}
            											<i class="fa fa-phone icon-driver" aria-hidden="true"></i> {{ user.phone }}</h1>
         				  </div>
    					<p></p>
  				</md-list-item>
			</div>
      </md-card>
      
      <md-card md-theme="{{'default'}}" md-theme-watch class="data-row">
        <md-card-title>
          <md-card-title-text class="data-users-title">
            <span class="md-headline">{{ 'users_quantity' | translate }}</span>
            <span class="md-subhead">{{ 'users_quantity_rate' | translate }}</span>
          </md-card-title-text>
        </md-card-title>
        	<div class="data-pie">
        		<div class="users-pie-rate">
					<canvas id="doughnut" class="chart chart-doughnut"
  							chart-data="rateData" chart-labels="rateLabels" chart-options="options" height="120" width="120">
					</canvas> 
				</div>
				<div class="users-rate-info">
 					<h1 class="users-info-name"><i class="fa fa-square cus-icon" aria-hidden="true"></i><span uib-rating class="rating data-rate" ng-model="1"
                 								   aria-labelledby="default-rating" readonly="isReadonly" ></span></h1>
 					<h1 class="users-info-name"><i class="fa fa-square dr-icon" aria-hidden="true"></i><span uib-rating class="rating data-rate" ng-model="2"
                 								   aria-labelledby="default-rating" readonly="isReadonly" ></span></h1>
 					<h1 class="users-info-name"><i class="fa fa-square mod-icon" aria-hidden="true"></i><span uib-rating class="rating data-rate" ng-model="3"
                 								   aria-labelledby="default-rating" readonly="isReadonly" ></span></h1>
 					<h1 class="users-info-name"><i class="fa fa-square adm-icon" aria-hidden="true"></i><span uib-rating class="rating data-rate" ng-model="4"
                 								   aria-labelledby="default-rating" readonly="isReadonly" ></span></h1>
 					<h1 class="users-info-name"><i class="fa fa-square five-icon" aria-hidden="true"></i><span uib-rating class="rating data-rate" ng-model="5"
                 								   aria-labelledby="default-rating" readonly="isReadonly" ></span></h1>
                    <h1 class="users-info-name"><i class="fa fa-square six-icon" aria-hidden="true"></i>{{ 'without_rate' | translate }}</h1>
				</div>
			</div>
      </md-card>
 	</div>

</md-content>


