<md-toolbar class="md-warn">
         <div class="md-toolbar-tools data-header">
            <h2 class="md-flex data-header">{{ 'statistics' | translate }}</h2>
         </div>
</md-toolbar>

<md-content class="md-padding" layout="row" class="row">
    <div flex="auto" layout="row">

      <md-card md-theme="{{'default'}}" md-theme-watch class="data-row">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">TODAY'S STATS</span>
            <span class="md-subhead">Total deliveries and average rate today</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

      <md-card md-theme="{{'default'}}" md-theme-watch class="data-row">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">MONTHLY STATS</span>
            <span class="md-subhead">Monthly deliveries and average rate</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

      <md-card md-theme="{{'default'}}" md-theme-watch class="data-row">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">ALLTIME STATS</span>
            <span class="md-subhead">All deliveries and average rate</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>

  </md-content>
  
  
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex="auto" layout="row">
      <md-card md-theme="{{'default'}}" md-theme-watch class="data-track">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Tracking</span>
            <span class="md-subhead">All routs</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content class="admin-track"></md-card-content>
		<md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="redirect()">TRACK</md-button>
        </md-card-actions>
      </md-card>
  </md-content>