
<form name="newFeedback" autocomplete="off" ng-submit="form.submit()" novalidate class="feedback-creation">
    <div class="modal-header">
        <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-title">
        </h4>
        <div class="row">
            <div class="col-xs-12 form-group">
                <label class="control-label">{{ 'rate' | translate }}: </label>
                <ng-rate-it resetable="false" step="0.2" star-width="32" star-height="32" ng-model="form.rate"></ng-rate-it>
            </div>
            <div class="col-xs-12 form-group">
                <label class="control-label" for="textInput">{{ 'description' | translate }}: </label>
                <div role="alert" style="color:red;display:inline">
                    <span class="error" ng-show="newFeedback.description.$error.required"> - {{ 'required' | translate }}!</span>
                    <span class="error" ng-show="newFeedback.description.$error.minlength">{{ 'description_tooShort' | translate }}!</span>
                    <span class="error" ng-show="newFeedback.description.$error.maxlength">{{ 'description_tooLong' | translate }}!</span>
                </div>
                <textarea name="description"  ng-model="form.text" class="form-control" rows="1" id="textInput" minlength="10" maxlength="999999" required></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
            <button ng-click="cancel()" type="button" class="btn btn-default btn-xs" data-dismiss="modal">{{ 'cancel' | translate }}</button>
            <button ng-disabled="newFeedback.$invalid" type="submit" class="btn btn-primary btn-xs">{{ 'create' | translate }}</button>
    </div>
</form>
