<div class="navbar navbar-inverse navbar-default navbar-static-top feedbacks">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">{{ 'feedbacks' | translate }}</span>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</div>
<div class="main feedbacks" id="top">
    <button class="btn btn-success btn-sm btn-round down feedbacks" ng-click="scroll('down')">
        <i class="fa fa-angle-double-down feedbacks"></i>
    </button>
    <div class="container-fluid">
        <div ng-controller="imageUploadController">
            <label class="btn btn-default btn-file">
                <input type="file" accept="image/*" style="display: none;" custom-on-change="uploadImage">
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
            </label>
        </div>
        <table class="table table-striped table-hover table-responsive header-fixed">
            <thead>
            <tr>
                <th class="col-xs-3" ng-click="feedbackSorting(1)">{{ 'text' | translate }}<span class="tableSort feedbacks">
                    <i class={{feedbackSortIcons[1]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-1" ng-click="feedbackSorting(2)">{{ 'rate' | translate }}<span class="tableSort feedbacks">
                    <i class={{feedbackSortIcons[2]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-2" ng-click="feedbackSorting(3)">{{ 'user' | translate }}<span class="tableSort feedbacks">
                    <i class={{feedbackSortIcons[3]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-2" ng-click="feedbackSorting(4)">{{ 'driver' | translate }}<span class="tableSort feedbacks">
                    <i class={{feedbackSortIcons[4]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-2" ng-click="feedbackSorting(5)">{{ 'date' | translate }}<span class="tableSort feedbacks">
                    <i class={{feedbackSortIcons[5]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-1" ng-click="feedbackSorting(6)">{{ 'status' | translate }}<span class="tableSort feedbacks">
                    <i class={{feedbackSortIcons[6]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-1 del feedbacks"><i class="fa fa-trash" aria-hidden="true"></i></span></th>
            </tr>
            </thead>
            <tbody>
            <tr search-form></tr>
            <tr ng-repeat="f in feedbacks" disable-animate>
                <td>{{f.text}}
                    <i class="fa fa-pencil-square-o feedbacks" aria-hidden="true" ng-click="editFeedbackText(f)"></i>
                </td>
                <td>
                    <span uib-rating class="feedbacks rating" ng-model="f.rate" read-only="true"
                          aria-labelledby="default-rating"></span>
                </td>
                <td>{{f.userName}}<i class="fa fa-user feedbacks" aria-hidden="true"
                                     ng-click="getUser(f.userEmail)"></i></td>
                <td>{{f.transporterName}}<i class="fa fa-user feedbacks" aria-hidden="true"
                                            ng-click="getUser(f.transporterEmail)"></i></td>
                <td>{{f.createdOn | date:'medium'}}</td>
                <td><a class="{{toggleApproved(f.approved)}}" style="{{toggleStyle(f.approved)}}"
                       ng-click="changeFeedbackStatus(f)"></a></td>
                <td class="del feedbacks">
                    <i class="fa fa-trash action feedbacks" aria-hidden="true"
                       ng-click="deleteFeedback(f.feedbackId)"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-success btn-sm btn-round up feedbacks" ng-click="scroll('top')">
            <i class="fa fa-angle-double-up feedbacks"></i>
        </button>
    </div>
    <footer>
        <ul uib-pagination class="pagination feedbacks" id="down" items-per-page="itemsPerPage" total-items="totalItems"
            max-size="15" ng-model="currentPage" ng-change="pageChanged()"></ul>
        <span class="feedbacks span">
        <label for="feedbacksItemsPerPage">{{ 'items_page' | translate }}</label>
            <select dir="rtl" id="feedbacksItemsPerPage" ng-model="itemsPerPage" class="form-control feedbacks select"
                    ng-change="setItemsPerPage()">
                <option value="5" ng-selected="true">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </span>
    </footer>
</div>