<form name="showUser">
    <div class="modal-header">
        <button ng-click="closeFeedbackShowUser()" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-title">
            User Info
        </h4>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-6 form-group">
                <img ng-src="{{userDTO.photoUrl}}" class="feedbacks userPhoto" alt="user photo">
            </div>
            <div class="col-xs-6 form-group">
                <label>Name: {{userDTO.firstName}} {{userDTO.lastName}}</label>
                <br>
                <label>Phone: {{userDTO.phone}}</label>
                <br>
                <label>Email: {{userDTO.email}}</label>
                <br>
                <label>Rate: </label>
                <span uib-rating class="feedbacks rating" ng-model="userDTO.rate" read-only="true"
                      aria-labelledby="default-rating"></span>
                <br>
                <label>Approved: {{userDTO.approved}}</label>
                <br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="closeFeedbackShowUser()" type="button" class="btn btn-primary">Close</button>
    </div>
</form>