<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ 'text' | translate }}" ng-model="feedbackFilterDTO.text"
               ng-model-options="{ debounce: 500 }" ng-change="checkInputLength(feedbackFilterDTO.text)"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="number" class="form-control" min="0" max="5" placeholder="{{ 'rate' | translate }}" ng-model="rate"
               ng-model-options="{ debounce: 500 }" ng-change="filterFeedbacks()"/>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ 'user' | translate }}" ng-model="feedbackFilterDTO.userName"
               ng-model-options="{ debounce: 500 }" ng-change="checkInputLength(feedbackFilterDTO.userName)"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ 'driver' | translate }}" ng-model="feedbackFilterDTO.transporterName"
               ng-model-options="{ debounce: 500 }" ng-change="checkInputLength(feedbackFilterDTO.transporterName)"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" placeholder="{{ 'date' | translate }}"
               ng-model="createdOn" is-open="popupDatePicker.opened" ng-change="filterFeedbacks()"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-link" ng-click="openDatePicker()">
                <i class="fa fa-calendar"></i></button>
          </span>
    </div>
</td>
<td>
    <div class="input-group">
        <a class="{{toggleFilterApprovedClass()}} feedbacks" style="{{toggleFilterApprovedStyle()}}"
           ng-click="changeFilterApprovedClass()"></a>
    </div>
</td>
<td class="clear feedbacks">
    <span><i class="fa fa-times" aria-hidden="true" ng-click="clearAllFilters()"></i></span>
</td>

