
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="delivery" transaction-type="RESOURCE_LOCAL">

        <!--Properties-->
        <properties>
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost/delivery"/>
            <property name="javax.persistence.jdbc.user" value="root"/>
            <property name="javax.persistence.jdbc.password" value="root"/>
            <property name="javax.persistence.jdbc.driver" value="org.hsqldb.jdbcDriver"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="show_sql" value="false"/>
        </properties>

        <!--Mapping-->
        <class>com.softserve.edu.delivery.domain.Baggage</class>
        <class>com.softserve.edu.delivery.domain.Car</class>
        <class>com.softserve.edu.delivery.domain.City</class>
        <class>com.softserve.edu.delivery.domain.Document</class>
        <class>com.softserve.edu.delivery.domain.Feedback</class>
        <class>com.softserve.edu.delivery.domain.Order</class>
        <class>com.softserve.edu.delivery.domain.OrderStatus</class>
        <class>com.softserve.edu.delivery.domain.Region</class>
        <class>com.softserve.edu.delivery.domain.Role</class>
        <class>com.softserve.edu.delivery.domain.Route</class>
        <class>com.softserve.edu.delivery.domain.RouteCity</class>
        <class>com.softserve.edu.delivery.domain.RouteStatus</class>
        <class>com.softserve.edu.delivery.domain.State</class>
        <class>com.softserve.edu.delivery.domain.User</class>
        <class>com.softserve.edu.delivery.domain.UserCar</class>

    </persistence-unit>
</persistence>