<div class="container" ng-controller="ordersTrackingController" ng-init="mapInit()">

    <div id="trackingMap" class="route" style="width: 1050px; height: 800px;"/>
<div id="def">
    <input type = "text" ng-model = "orderId" ng-change="trackOrder(orderId)"/>
    <p>Customer name: {{ordersTracking.orderDto.customerName}}</p>
    <p>From: {{ordersTracking.orderDto.locationFrom.cityName}}</p>
    <p>To: {{ordersTracking.orderDto.locationTo.cityName}}</p>
    <p> Description: {{ordersTracking.orderDto.description}},<br/></p>
    <p> h/w/l: {{ordersTracking.orderDto.height | number:1}},
               {{ordersTracking.orderDto.width | number:1}},
               {{ordersTracking.orderDto.length | number:1}},
        weight: {{ordersTracking.orderDto.weight | number:1}}</p>
</div>

</div>


