<div class="container" ng-controller="ordersTrackingController" ng-init="mapInit()">

    <div id="trackingMap" class="route" style="width: 1050px; height: 800px;"/>
<div id="def">
    <input type = "text" ng-model = "orderId" placeholder="{{'orders-tracking' | translate}}" ng-change="trackOrder(orderId)"/>
    <p><b>Customer name: {{ordersTracking.orderDto.customerName}}</b></p>
    <p><b>From: {{ordersTracking.orderDto.locationFrom.cityName}}</b></p>
    <p><b>To: {{ordersTracking.orderDto.locationTo.cityName}}</b></p>
    <p><b>Description: {{ordersTracking.orderDto.description}},</b><br/></p>
    <p><b>h/w/l: {{ordersTracking.orderDto.height | number:1}},
               {{ordersTracking.orderDto.width | number:1}},
               {{ordersTracking.orderDto.length | number:1}} m,
        weight: {{ordersTracking.orderDto.weight | number:1}} kg</b></p>
</div>

</div>


