<div class="navbar navbar-inverse navbar-static-top" style="background-color: #007772">
    <div class="container-fluid">
        <span class="navbar-brand">{{ 'tracking_orders' | translate }}</span>
        <ul class="nav navbar-nav navbar-right">
            <div class="col-md-2"></div>
        </ul>
    </div>
</div>
<div class="container tracking-div modal-dialog" ng-controller="pleaceController" ng-init="initializeMap()">
    <div class="col-md-6" >
    </div>
    <br/>
    <div id="mapCustomer" class="map-container"></div>
    <br/>
</div>
