<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- 3 ERROR 5 WARNING 7 INFO -->
	<test name="Test1">
		<!--<classes>-->
			<!--&lt;!&ndash;<class name="com.softserve.edu.delivery.service.feedback.FeedbackServiceImplTestDBTest">&ndash;&gt;-->
				<!--&lt;!&ndash;<methods>&ndash;&gt;-->
					<!--&lt;!&ndash;&lt;!&ndash;include name="test" /&ndash;&gt;&ndash;&gt;-->
				<!--&lt;!&ndash;</methods>&ndash;&gt;-->
			<!--&lt;!&ndash;</class>&ndash;&gt;-->
			<!--<class name="com.softserve.edu.delivery.service.feedback.FeedbackServiceImplMockTest">-->
				<!--<methods>-->
					<!--&lt;!&ndash;include name="test" /&ndash;&gt;-->
				<!--</methods>-->
			<!--</class>-->
			 <!--&lt;!&ndash;class name="com.softserve.edu.delivery.SmokeTest" /&ndash;&gt;-->
		<!--</classes>-->
	</test> <!-- Test -->
	
	<test name="verificationUser">
		<classes>
			<class name="com.softserve.edu.delivery.service.verification.VerificationLoginTest"/>
		</classes>
	</test>
	<test name="routesById">
		<classes>
			<class name="com.softserve.edu.delivery.service.tracking.RouteByIdTest"/>
		</classes>
	</test>
	<!-- - - - - - - - - - -->
</suite> <!-- Suite -->
