<div id="popDialog-bg" ng-controller="pleaceController">
    <div id="popDialog">
    <div class="modal-header">
        <button ng-click="$dismiss()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="modal-title">Add location</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <select ng-model="selectedState" class="form-control" ng-click="getStateList()" ng-change="sentState()" ng-options="state.name for state in stateList track by state.name">
                <option value="">Choose the state</option>
            </select>

        </div>
        <div class="form-group">
            <select ng-model="selectedRegion" class="form-control" ng-change="sentRegion()" ng-disabled="!selectedState" ng-options="region.name for region in regionList track by region.name">
                <option value="">Choose the region</option>
            </select>
        </div>
        <div class="form-group">
            <select ng-disabled="!selectedRegion" ng-model="selectedCity" class="form-control" ng-options="city.name for city in cityList track by city.name">
                <option value="">Choose the city</option></select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="submit" ng-click="add()"data-dismiss="modal" ng-disabled="!selectedCity">Add</button>
        <button class="btn btn-danger" type="button" data-dismiss="modal" ng-click="$dismiss()">Close</button>
    </div>
    </div>
</div>