<form name="showUser">
    <div class="modal-header">
        <button ng-click="closeFeedbackShowUser()" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-title">
            {{ 'userInfo' | translate }}
        </h4>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-6 form-group">
                <img ng-src="{{userDTO.photoUrl}}" class=" userPhoto" alt="user photo">
            </div>
            <div class="col-xs-6 form-group">
                <label>{{ 'fname' | translate }}: {{userDTO.firstName}} {{userDTO.lastName}}</label>
                <br>
                <label>{{ 'phone' | translate }}: {{userDTO.phone}}</label>
                <br>
                <label>{{ 'email' | translate }}: {{userDTO.email}}</label>
                <br>
                <label>{{ 'rate' | translate }}: </label>
                <span uib-rating class=" rating" ng-model="userDTO.rate" read-only="true"
                      aria-labelledby="default-rating"></span>
                <br>
                <label>{{ 'approved' | translate }}:
                    <i class="fa" ng-class="{'fa-check-circle approved':userDTO.approved,
                    'fa-check-circle not-approved':!userDTO.approved}" aria-hidden="true"></i></label>
                <br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="closeFeedbackShowUser()" type="button" class="btn btn-primary">{{ 'close' | translate }}
        </button>
    </div>
</form>