<div class="navbar navbar-inverse navbar-static-top" style="background-color: #007772">
    <div class="container-fluid">
		<span class="navbar-brand">User profiles</span>
            <ul class="nav navbar-nav navbar-right">
   		 <div class="col-md-2">
    </div>
    </div>
            </ul>
    	<table class="table table-responsive search-table" >
      		<tr>
        		<th class="col-xs-1"><i class="fa fa-search fa-2x srch-sgn" aria-hidden="true"></i></th> 
        		<th class="col-xs-2">
        		    <div class="input-group">
                			<input type="text" class="form-control srch-in" placeholder="last name" ng-model="lname"
                					ng-model-options="{ debounce: 1000 }">
            		</div>
				</th> 
       			<th class="col-xs-2">
            		<div class="input-group">
                			<input type="text" class="form-control srch-in" placeholder="first name" ng-model="fname"
                					ng-model-options="{ debounce: 1000 }">
            		</div>       			      			
       			</th>
        		<th class="col-xs-2">
            		<div class="input-group">
                			<input type="text" class="form-control srch-in" placeholder="email" ng-model="email"
                					ng-model-options="{ debounce: 1000 }">
            		</div>				
				</th>
        		<th class="col-xs-2">
            		<div class="input-group">
                             <input type="text" class="form-control srch-in" placeholder="role" ng-model="role"
                					ng-model-options="{ debounce: 2500 }">
            		</div>					
				</th>
        		<th class="col-xs-1"><i class="fa fa-2x status-srch" ng-class="{'fa-toggle-on':status, 'fa-toggle-off':!status}" ng-click="changefilterStatus()" aria-hidden="true"
        							ng-model-options="{ debounce: 1000 }"></i></th> 
        		<th class="col-xs-1"><i class="fa fa fa-times fa-2x status-srch" aria-hidden="true" ng-click=skip()></i></th>
        		<th class="col-xs-1">  
                            <select  class="form-control srch-in" ng-model="rows">
                                <option value="5">5</option>
                                <option selected="selected" value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                            </select> 
        		</th>
            </tr> 
       </table>
    </div>
</div>

<div class="container col-xs-12"> 
  <hr>
  <div class="custom-row">
    <table class="table table-striped table-hover table-responsive" >
    	<thead>
      		<tr>
        		<th class="col-xs-1"></th> 
        		<th class="col-xs-2">Last name</th> 
        		<th class="col-xs-2"><span class="scnd">First name</span></th>
        		<th class="col-xs-2"><span class="thrd">Email</span></th>
        		<th class="col-xs-2"><span class="frth">Role</span></th>
        		<th class="col-xs-1"><span class="ffth">Ban</span></th> 
        		<th class="col-xs-1"></th>
        		<th class="col-xs-1"></th>
      		</tr>
    	</thead>
    	<tbody>
      		<tr ng-repeat-start="user in users.allProfiles | limitTo: rows">
        		<td class="col-xs-1"><img title="{{user.firstName}} {{user.lastName}}" src="./img/user-photo.png" class="img-thumbnail img-responsive img-circle"></td> 
        		<td class="col-xs-2">{{user.lastName}}</td> 
        		<td class="col-xs-2"><span class="scnd">{{user.firstName}}</span></td>
        		<td class="col-xs-2"><span class="thrd">{{user.email}}</span></td>
        		<td class="col-xs-2"><span class="frth">{{user.role}}</span></td>
        		<td class="col-xs-1"><span class="ban"><i class="fa fa-2x status-btn" ng-class="{'fa-toggle-on':user.blocked==true, 'fa-toggle-off':user.blocked==false}" ng-click="changeUserStatus(user, $index)" aria-hidden="true"></i></span></td> 
        		<td class="col-xs-1"></td>
        		<td class="col-xs-1"><a href="" class="down-btn"><i ng-click="getUserInfo(user)" class="fa fa-2x" ng-class="{'fa-angle-down':userInfo.email!==user.email, 'fa-angle-up':userInfo.email==user.email}"  aria-hidden="true"></i></a></td>
      		</tr>
      		<tr ng-repeat-end="user in users.allProfiles" ng-if="userInfo.email==user.email" ng-click="hideInfo()">
        		<td></td> 
        		<td colspan="7">
          			<div class="container col-xs-12">
            		<div class="col-xs-12"><h1 class="name">{{userInfo.firstName}}</h1></div>
            		<div class="col-md-4 col-xs-7 small">
              			<label class="user-info">Last name</label>{{userInfo.lastName}}<br>
              			<label class="user-info">Phone</label>{{userInfo.phone}}<br>
              			<label class="user-info">Email</label>{{userInfo.email}}<br>
            		</div>
            		<div class="col-md-4 col-xs-7 small">
              			<label class="user-info">Passport</label>{{userInfo.passport}}<br>
              			<label class="user-info">Rate</label>{{userInfo.rate}}<br>
            		</div>
            		<div class="col-md-3 col-xs-10 text-center">
              			<img title="{{userInfo.firstName}} {{userInfo.lastName}}" src="./img/user-photo.png" class="img-thumbnail img-responsive img-circle center-block photo">
            		</div>
            		<div class="col-xs-12"><hr></div>
          			</div>
        		</td>
      		</tr>
    	</tbody>
    </table>
  
  </div><!--/row-->
  
<div class="custom-row">
    <footer>
        <ul uib-pagination id="down" items-per-page="rows" total-items="pages" ng-model="currentPage"></ul>
    </footer>
</div><!--/container-->