.feedbacks.navbar {
    background-color: green;
}

.feedbacks select.form-control {
    width: 50px;
    color: white;
    background-color: green;
}

.feedbacks.main {
    padding-top: 100px;
}

.feedbacks .tableSort {
    float: right;
}

.feedbacks .btn-round.down {
    top: 65px;
    right: 20px;
}

.feedbacks .btn-round.up {
    bottom: 0;
    right: 20px;
}

.feedbacks .btn-round.btn-sm {
    position: fixed;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.2;
}

.feedbacks .btn-round.btn-sm:hover {
    opacity: 1;
}

.feedbacks .btn-round.btn-sm:focus {
    outline-style: none;
}

.feedbacks .fa-angle-double-up {
    color: white;
}

.feedbacks .fa-angle-double-down {
    color: white;
}

.feedbacks .del, .feedbacks .clear {
    text-align: center;
}

.feedbacks .action {
    color: gray;
}

.feedbacks .action:hover {
    color: red;
    transform: scale(2);
}

.feedbacks .deleteWarning {
    text-align: center;
    color: red;
    font-size: large;
}

.feedbacks .clear:hover,
.feedbacks .fa-user:hover {
    transform: scale(2);
}

.feedbacks .fa-pencil-square-o,
.feedbacks .fa-user {
    float: right;
}

.feedbacks .fa-pencil-square-o:hover {
    color: green;
    transform: scale(2);
}

.feedbacks ul.pagination li a {
    color: green;
}

.feedbacks ul.pagination li.active a,
.feedbacks ul.pagination li a:focus {
    color: white;
    background-color: green;
    outline-style: none;
}


