.navbar {
    background-color: green;
}

select.form-control {
    width: 50px;
    color: white;
    background-color: green;
}

.main {
    padding-top: 50px;
}

.tableSort {
    float: right;
}

.btn-round.down {
    top: 65px;
    right: 20px;
}

.btn-round.up {
    bottom: 0;
    right: 20px;
}

.btn-round.btn-sm {
    position: fixed;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.2;
}

.btn-round.btn-sm:hover {
    opacity: 1;
}

.fa-angle-double-up {
    color: white;
}

.fa-angle-double-down {
    color: white;
}

.del, .clear {
    text-align: center;
}

.action {
    color: gray;
}

.action:hover {
    color: red;
    transform: scale(2);
}

.deleteWarning {
    text-align: center;
    color: red;
    font-size: large;
}

.clear:hover {
    transform: scale(2);
}

