html, body {
    height: 100%;
    color: #555555;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before, .wrapper:after,
.site-column:before, .site-column:after {
    content: "";
    display: table;
}

.wrapper:after,
.site-column:after {
    clear: both;
}

.site-column {
    height: 100%;
    overflow: auto;
    *zoom: 1;
}

.site-column.col-xs-10 {
    width: 80%;
}

.site-column.col-xs-2 {
    width: 20%;
}

.site-content {
    padding-top: 70px;
}

.box {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
}

.navbar-static-top {
    top: 0;
    position: fixed;
    width: inherit;
}

.navbar-inverse {
    background-color: rgb(30, 136, 229);
    color: rgb(255, 255, 255);
}

.navbar-inverse .navbar-brand {
    color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 28px;
    }
}

.navbar-btn .fa {
    padding-right: 5px;
    top: 2px;
    position: relative;
    font-size: 18px;
}

.main {
    background-color: #e9eaed;
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggle, .close {
    outline: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

    .site-content {
        padding-top: 20px;
    }

    .navbar-static-top {
        top: 0;
        width: 100%;
        position: relative;
    }

}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 5px;
    }

    .sidebar-offcanvas, .sidebar-offcanvas a, .sidebar-footer a {
        padding-left: 3px;
    }
}