<div class="navbar navbar-inverse navbar-default navbar-static-top" style="background-color: green">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">Feedback</span>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="main" ng-app="delivery" ng-controller="feedbacksController" style="padding-top: 70px;">
    <div class="container col-xs-12">
        <table class="table table-striped table-hover table-responsive header-fixed" width="100%">
            <thead>
            <tr>
                <th class="col-xs-3" ng-click="feedbackSorting(1)">Text<span style="float:right;">
                    <i class={{feedbackSortIcons[1]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-2" ng-click="feedbackSorting(2)">Rate<span style="float:right;">
                    <i class={{feedbackSortIcons[2]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-2" ng-click="feedbackSorting(3)">User<span style="float:right;">
                    <i class={{feedbackSortIcons[3]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-2" ng-click="feedbackSorting(4)">Transporter<span style="float:right;">
                    <i class={{feedbackSortIcons[4]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-2" ng-click="feedbackSorting(5)">Date<span style="float:right;">
                    <i class={{feedbackSortIcons[5]}} aria-hidden="true"></i></span></th>
                <th class="col-xs-1" ng-click="feedbackSorting(6)">Status<span style="float:right;">
                    <i class={{feedbackSortIcons[6]}} aria-hidden="true"></i></span></th>
            </tr>
            </thead>
            <tbody>
            <tr search-form></tr>
            <tr ng-repeat="f in feedbacks"> <!--ng-click="showUser(f.userEmail)-->
                <td>{{f.text}}</td>
                <td>{{f.rate}}</td>
                <td uib-popover="{{f.userName}}" popover-trigger="'mouseenter'" popover-popup-delay="1000"
                    popover-append-to-body=true>{{f.userName}}
                </td>
                <td>{{f.transporterName}}</td>
                <td>{{f.createdOn | date:'medium'}}</td>
                <td><a class="{{toggleApproved(f.approved)}}" style="{{toggleStyle(f.approved)}}"
                       ng-click="changeFeedbackStatus(f)"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>