<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Id" ng-model="feedbackFilter[0]"
               ng-change="getFeedbackById()"/>
        <span class="input-group-addon">
            <i class="fa fa-search"></i>
    </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Text" ng-model="feedbackFilter[1]"
               ng-change="getFeedbacksByText()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Rate" ng-model="feedbackFilter[2]"
               ng-model="feedbackRate" ng-change="getFeedbacksByRate()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="User" ng-model="feedbackFilter[3]"
               ng-change="getFeedbacksByUserName()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Transporter" ng-model="feedbackFilter[4]"
               ng-change="getFeedbacksByTransporterName()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="date" class="form-control" placeholder="Date" ng-model="feedbackFilter[5]"
               ng-change="getFeedbacksByDate()"/>
    </div>
</td>
<td>
    <div class=" input-group">
        <input type="text" class="form-control" placeholder="Appr." ng-model="feedbackFilter[6]"
               ng-change="getFeedbacksByApproved()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>

