<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Text" ng-model="feedbackFilter[1]"
               ng-model-options="{ debounce: 500 }" ng-change="checkInputLength(1)"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="number" class="form-control" min="0" max="50" placeholder="Rate" ng-model="feedbackFilter[2]"
               ng-model="feedbackRate" ng-model-options="{ debounce: 500 }" ng-change="filterFeedbacks()"/>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="User" ng-model="feedbackFilter[3]"
               ng-model-options="{ debounce: 500 }" ng-change="checkInputLength(3)"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Transporter" ng-model="feedbackFilter[4]"
               ng-model-options="{ debounce: 500 }" ng-change="checkInputLength(4)"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="date" class="form-control" placeholder="Date" ng-model="feedbackFilter[5]"
               ng-model-options="{ debounce: 500 }" ng-change="filterFeedbacks()"/>
    </div>
</td>
<td>
    <div class=" input-group">
        <a class="{{toggleFilterApprovedClass()}}" style="{{toggleFilterApprovedStyle()}}"
           ng-click="changeFilterApprovedClass()"></a>
    </div>
</td>
<td class="clear">
    <span><i class="fa fa-times" aria-hidden="true" ng-click="clearAllFilters()"></i></span>
</td>

