<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Id" ng-model="feedbackId"
               ng-change="getFeedbackById()"/>
        <span class="input-group-addon">
            <i class="fa fa-search"></i>
    </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Text" ng-model="feedbackText"
               ng-change="getFeedbacksByText()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Rate"
               ng-model="feedbackRate" ng-change="getFeedbacksByRate()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="User" ng-model="feedbackUser"
               ng-change="getFeedbacksByUserName()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Transporter" ng-model="feedbackTransporter"
               ng-change="getFeedbacksByTransporterName()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>
<td>
    <div class="input-group">
        <input type="date" class="form-control" placeholder="Date" ng-model="feedbackDate"
               ng-change="getFeedbacksByDate()"/>
    </div>
</td>
<td>
    <div class=" input-group">
        <input type="text" class="form-control" placeholder="Appr." ng-model="feedbackStatus"
               ng-change="getFeedbacksByStatus()"/>
        <span class=" input-group-addon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</td>

