<a ng-click="showOrderCreation()" class="btn btn-default btn-add-order">
    <i class="add">+</i>
</a>
<div data-ng-repeat="order in orders.open track by order.id" class="panel panel-default order-open">
    <div class="panel-body">
        <div class="order-actions">
            <i class="fa fa-pencil" ng-click="showOrderCreation(order)" aria-hidden="true"></i>
            <i class="fa fa-comments" ng-click="showConversation(order)" aria-hidden="true"></i>
            <i class="fa fa-car" popover-trigger="'outsideClick'" uib-popover-template="templateForOffers.templateUrl" popover-placement="bottom-right" ng-click="showOffers(order)" data-notifications="{{order.amountOfOffers}}" aria-hidden="true"></i>
            <i class="fa fa-trash" ng-click="deleteOrder(order.id)" aria-hidden="true"></i>
        </div>
        <div class="order-city" ng-click="status.open = !status.open">
            {{order.locationFrom.cityName}} &mdash; {{order.locationTo.cityName}}
        </div>
        <div class="order-details">
            <uib-accordion close-others="true">
                <div uib-accordion-group is-open="status.open">
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label class="control-label">{{ 'weight' | translate }}</label>
                            <input value="{{order.weight}}" class="form-control" type="text" readonly>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="control-label">{{ 'height' | translate }}</label>
                            <input value="{{order.height}}" class="form-control" type="text" readonly>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="control-label">{{ 'width' | translate }}</label>
                            <input value="{{order.width}}" class="form-control" type="text" readonly>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="control-label">{{ 'length' | translate }}</label>
                            <input value="{{order.length}}" class="form-control" type="text" readonly>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="control-label">{{ 'description' | translate }}</label>
                            <input value="{{order.description}}" class="form-control" type="text" readonly>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
        <div class="order-subinfo">
            <span class="order-sub"><i class="fa fa-calendar" aria-hidden="true"></i>{{ 'arrival_in' | translate }} {{order.arrivalDate | date}}</span>
        </div>
    </div>
</div>
