<div ng-repeat="order in orders.inProgress track by $index" class="panel panel-default order-in-progress">
    <div class="panel-body">
        <div class="order-city">
            {{order.locationFrom.cityName}} &mdash; {{order.locationTo.cityName}}
        </div>
        <div class="order-subinfo">
            <span class="order-sub"><i class="fa fa-calendar" aria-hidden="true"></i>Arrival in {{order.arrivalDate | date}}</span>
            <span class="order-sub"><i class="fa fa-map-marker" aria-hidden="true"></i>Ternopil</span>
            <span class="order-sub"><i class="fa fa-car" aria-hidden="true"></i>{{order.driverName}}</span>
        </div>
    </div>
</div>
