<div data-ng-repeat="order in orders.closed | limitTo: paginationLimit()" class="panel panel-default order-open">
    <div class="panel-body">
        <div class="order-actions" style="margin-top: -22px">
            <p class="navbar-btn">
                <a data-ng-click="addFeedback(order)" class="btn btn-primary  btn-xs">
                    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'feedback' | translate }}
                </a>
            </p>
        </div>
        <div class="order-location" ng-click="status.open = !status.open">
            {{order.locationFrom.city}} &mdash; {{order.locationTo.city}}
        </div>
        <div class="order-details">
            <uib-accordion close-others="true">
                <div uib-accordion-group is-open="status.open">
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label class="control-label">{{ 'weight' | translate }}: {{order.weight}} </label>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="control-label">{{ 'height' | translate }}: {{order.height}}</label>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="control-label">{{ 'width' | translate }}: {{order.width}} </label>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="control-label">{{ 'length' | translate }}: {{order.length}} </label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="control-label">{{ 'description' | translate }}: {{order.description}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <img width="220px" ng-src="{{order.carPhoto}}">
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
        <div class="order-subinfo">
            <span class="order-sub">
                <i class="fa fa-calendar" aria-hidden="true"></i>{{ 'arrival_in' | translate }} {{order.arrivalDate | date}}
                <i class="fa fa-car" aria-hidden="true"></i>{{order.driverName}}
            </span>
        </div>
    </div>
</div>
<div style="text-align: center">
    <button class="btn btn-primary  btn-xs" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Show more</button>
</div>
