<h4 style="padding-left: 10px;"> Approved driver: {{GetApprovedOffers().driverName}} <a style="margin-right: 40px;" class="btn btn-primary btn-xs" role="button" data-ng-click="changeStatus()">Apply</a></h4>

<div data-ng-repeat="offer in offers track by offer.offerId"  class="panel panel-default">
    <div class="{{btnApprovedStyle(offer.approved)}}">
        <div class="row">
            <div class="col-sm-3 form-group">
                <img width="100px" ng-src="{{offer.carPhoto}}">
            </div>
            <div class="col-sm-4 form-group">
                <label class="control-label">Driver's rate: </label> {{offer.rate}}
            </div>
            <div class="col-sm-4 form-group">
                <label class="control-label">Driver:
                    <input type="radio" name="radio-primary" ng-value="true" ng-model="offer.approved" ng-checked="offer.approved" ng-change="update(offer)"/>
                    {{offer.driverName}}
                </label>
            </div>
        </div>
    </div>
</div>