body {
    background: url("../img/error_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrap {
    margin: 0 auto;
    width: 1000px;
}

.title {
    margin-bottom: 40px;
}

.title h1 {
    font-size: 80px;
    color: rgb(245, 45, 45);
    text-align: center;
    margin-top: 100px;
    text-shadow: 6px 1px 6px #333;
    font-family: 'Fjalla One', sans-serif;
}

.title h2 {
    font-size: 60px;
    color: rgb(245, 45, 45);
    ;
    text-align: center;
    margin-bottom: 1px;
    text-shadow: 6px 1px 6px #333;
    font-family: 'Fjalla One', sans-serif;
    margin-top: -20px;
}

.gray {
    margin-bottom: 20px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    text-decoration: none;
    padding: 30px 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.ag-3d_button {
    vertical-align: top;
    border-radius: 4px;
    border: none;
    padding: 10px 25px 12px;
}

.red {
    background: rgb(245, 45, 45);
    background: -moz-linear-gradient(top, rgb(245, 45, 45) 0%, rgb(187, 9, 9) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(187, 9, 9)), color-stop(99%, rgb(245, 45, 45)));
    background: -webkit-linear-gradient(top, rgb(245, 45, 45) 0%, rgb(187, 9, 9) 99%);
    background: -o-linear-gradient(top, rgb(245, 45, 45) 0%, rgb(187, 9, 9) 99%);
    background: -ms-linear-gradient(top, rgb(245, 45, 45) 0%, rgb(187, 9, 9) 99%);
    background: linear-gradient(to bottom, rgb(245, 45, 45) 0%, rgb(187, 9, 9) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='rgb(245, 45, 45)', endColorstr='rgb(187, 9, 9)', GradientType=0);
    color: #fff;
    text-shadow: 1px 1px 3px rgb(245, 45, 45);
    border: 1px solid rgb(187, 9, 9);
    text-decoration: none;
}

.red:hover {
    background: rgb(187, 9, 9);
    background: -moz-linear-gradient(top, rgb(187, 9, 9) 1%, rgb(245, 45, 45) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgb(187, 9, 9)), color-stop(100%, rgb(245, 45, 45)));
    background: -webkit-linear-gradient(top, rgb(187, 9, 9) 1%, rgb(245, 45, 45) 100%);
    background: -o-linear-gradient(top, rgb(187, 9, 9) 1%, rgb(245, 45, 45) 100%);
    background: -ms-linear-gradient(top, rgb(187, 9, 9) 1%, rgb(245, 45, 45) 100%);
    background: linear-gradient(to bottom, rgb(187, 9, 9) 1%, rgb(245, 45, 45) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='rgb(187, 9, 9)', endColorstr='rgb(245, 45, 45)', GradientType=0);
}