html, body {
    height: 100%;
    color: #555555;
}


.wrapper:before, .wrapper:after,
.site-column:before, .site-column:after {
    content: "";
    display: table;
}

.wrapper:after,
.site-column:after {
    clear: both;
}

.site-column {
    height: 100%;
    overflow: auto;
}

.site-column.col-xs-10 {
    width: 80%;
}

.site-column.col-xs-2 {
    width: 20%;
}

.site-content {
    padding-top: 70px;
}

.box {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
}

.navbar-static-top {
    top: 0;
    position: fixed;
    width: inherit;
    box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.52);
}

.navbar-inverse {
    color: rgb(255, 255, 255);
    background-color: #18bc9c;
}

.navbar-inverse .navbar-brand {
    color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 28px;
    }
}

.navbar-btn .fa {
    padding-right: 5px;
    top: 2px;
    position: relative;
    font-size: 18px;
}

.main {
    background-color: #e9eaed;
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggle, .close {
    outline: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.content-row {
    margin-left: -4px;
    margin-right: -4px;
}

@media (max-width: 768px) {

    .site-content {
        padding-top: 20px;
    }

    .navbar-static-top {
        top: 0;
        width: 100%;
        position: relative;
    }

}

.rating {
    color: rgb(249, 201, 18);
}

.notification{
    font-size: 16px;
    padding-left: 10px;
    padding: 80px;
}
.notification .fa:hover{
    color: rgba(85, 85, 85, 0.74);
    cursor: pointer;
}
.user-avatar .fa{
    font-size: 40px;
}
.user-avatar [data-notifications] {
    position: relative;
}
.user-avatar [data-notifications]:after {
    content: attr(data-notifications);
    position: absolute;
    font-size: 14px;
    text-align: center;
    background: red;
    border-radius: 100%;
    color: #f2f2f2;
    right: -6px;
    top: -6px;
    width: 16px;
    height: 16px;
}
.Success{
    color: #fff;
    background: #5cb85c;
    padding-left: 10px;
}
.Info{
    color: #fff;
    background: #5bc0de;
    padding-left: 10px;
}
.Warning{
    color: #fff;
    background: #d9534f;
    padding-left: 10px;
}

.languages {
	margin-left: -13px;
}

.lang-off, .lang-off:hover {
	color: #444444;
	cursor: pointer;
	padding-left: 10px;
}

.lang-on, .lang-on:hover {
	color: #444444;
	font-weight: bold;
	text-decoration: none;
	padding-left: 10px;
}

.ngrateit-star{
    background-size: 32px;
}


