html, body {
    height: 100%;
    color: #555555;
}

i.fa, div {
    outline: none;
}

.wrapper:before, .wrapper:after,
.site-column:before, .site-column:after {
    content: "";
    display: table;
}

.wrapper:after,
.site-column:after {
    clear: both;
}

.site-column {
    height: 100%;
    overflow: auto;
}

.site-column.col-xs-10 {
    width: 80%;
}

.site-column.col-xs-2 {
    width: 20%;
}

.site-content {
    padding-top: 70px;
}

.box {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
}

.navbar-static-top {
    top: 0;
    position: fixed;
    width: inherit;
    box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.52);
}

.navbar-inverse {
    color: rgb(255, 255, 255);
    background-color: #18bc9c;
}

.navbar-inverse .navbar-brand {
    color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 28px;
    }
}

.navbar-btn .fa {
    padding-right: 5px;
    top: 2px;
    position: relative;
    font-size: 18px;
}

.main {
    background-color: #e9eaed;
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggle, .close {
    outline: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.content-row {
    margin-left: -4px;
    margin-right: -4px;
}

@media (max-width: 768px) {

    .site-content {
        padding-top: 20px;
    }

    .navbar-static-top {
        top: 0;
        width: 100%;
        position: relative;
    }

}

.rating {
    color: rgb(249, 201, 18);
}

.notification{
    font-size: 16px;
    padding-left: 10px;
}
.notification .fa:hover{
    color: rgba(85, 85, 85, 0.74);
    cursor: pointer;
}
.circle .fa{
    font-size: 25px;
    cursor: pointer;
}
.circle [data-notifications] {
    height: 0px;
}
.circle [data-notifications]:after {
    height: 0px;
}
.showCircle .fa{
    font-size: 25px;
    cursor: pointer;
}
.showCircle [data-notifications] {
    position: relative;
}
.showCircle [data-notifications]:after {
    content: attr(data-notifications);
    position: absolute;
    font-size: 14px;
    text-align: center;
    background: red;
    border-radius: 100%;
    color: #f2f2f2;
    right: -6px;
    top: -6px;
    width: 16px;
    height: 16px;
}
.Success{
    color: #fff;
    background: #5cb85c;
    padding-left: 10px;
}
.Info{
    color: #fff;
    background: #5bc0de;
    padding-left: 10px;
}
.Warning{
    color: #fff;
    background: #d9534f;
    padding-left: 10px;
}

.languages {
	margin-left: -13px;
}

.lang-off, .lang-off:hover {
	color: #444444;
	cursor: pointer;
	padding-left: 10px;
}

.lang-on, .lang-on:hover {
	color: #444444;
	font-weight: bold;
	text-decoration: none;
	padding-left: 10px;
}

.ngrateit-star{
    background-size: 32px;
}
.popover{
    max-width: 800px;
    width: 600px;
}
.ngrateit:not(.ngrateit-readonly) .ngrateit-rating:hover span{
    cursor:pointer;
    background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxhYWdfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGxpbmVhckdyYWRpZW50IGlkPSJTVkdJRF8zXyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwLjIwNyIgeTE9IjgiIHgyPSIxNS43OTIiIHkyPSI4Ij4NCgk8c3RvcCAgb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjojRkJCMDNCIi8+DQoJPHN0b3AgIG9mZnNldD0iMSIgc3R5bGU9InN0b3AtY29sb3I6I0ZGOTQyRCIvPg0KPC9saW5lYXJHcmFkaWVudD4NCjxwYXRoIGZpbGw9InVybCgjU1ZHSURfM18pIiBkPSJNOC4zNjcsMC44MTRsMS45ODQsNC42OTFsNS4wNzQsMC40MzRjMC4zNTIsMC4wMzEsMC40OTYsMC40NzMsMC4yMjcsMC43MDNsLTMuODQ4LDMuMzM2bDEuMTUyLDQuOTYxDQoJYzAuMDgyLDAuMzQ0LTAuMjkzLDAuNjE3LTAuNTk0LDAuNDM0TDgsMTIuNzRsLTQuMzYzLDIuNjMzYy0wLjMwMSwwLjE4LTAuNjc2LTAuMDktMC41OTQtMC40MzRsMS4xNTItNC45NjFMMC4zNDQsNi42NDINCglDMC4wNzgsNi40MDgsMC4yMjMsNS45NywwLjU3NCw1LjkzOWw1LjA3NC0wLjQzNGwxLjk4NS00LjY5MUM3Ljc2OSwwLjQ4Niw4LjIzLDAuNDg2LDguMzY3LDAuODE0TDguMzY3LDAuODE0eiBNOC4zNjcsMC44MTQiLz4NCjwvc3ZnPg==)
}

.user-avatar {
    height:100px;
    border-radius: 50px;
    display:block;
    margin:auto;
}

.tabsDynamicHeight md-content {
    background-color: transparent !important; }
.tabsDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.tabsDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsDynamicHeight md-content {
    margin-top: 0; }

