#mymap {
    width: 1050px;
    height: 400px
}

.tracking-table {
    width: 1050px;
}
.tracking-div {
    width: 100%;
}

.map-container .leaflet-control-container {
    /*display: none;*/
}
.modal-dialog{
    width: whatever;
}
#adminMap { height: 500px; }

.filtr {
    margin-left: 13px;
}
.tracking-pageination{
    margin-left: 300px;
}

#trackingMa{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

}
/*#trackingMap{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*z-index: -1;*/
/*}*/
#def{
    position: fixed;
    width: 330px;
    opacity: 0.65;
    background-color: white;
    border-radius: 10px;
    right: 0;
    padding-right: 100px;
    padding-top: 20px;
    z-index: 10;
}