#mymap {
    width: 1050px;
    height: 400px
}

.tracking-table {
    width: 1050px;
}
.tracking-div {
    width: 100%;
}

.map-container .leaflet-control-container {
    /*display: none;*/
}
.modal-dialog{
    width: whatever;
}
#adminMap { height: 500px; }

.filtr {
    margin-left: 13px;
}
.tracking-pageination{
    margin-left: 300px;
}
