.users-list {
    background-color: #fff;
    margin-left: 0px;
    margin-top: 120px;
}

.fa-angle-down {
    color: rgb(2, 119, 189);
}

.status-btn {
    color: #a8040499;
    cursor: pointer;
    margin-left: 17px;
}

.srch-sgn {
	margin-top: 8px;
	margin-left: 43px;
}


.name {
    font-size: 35px;
    font-weight: bold;
}

.user-info {
    font-weight: bold;
    font-size: 15px;
    margin-right: 15px;
}

.user-data {
    font-size: 15px;
}

.status-btn {
    color: #a8040499;
    cursor: pointer;
    margin-left: 20px;
}

.status-srch {
	margin-top: 8px;
	cursor: pointer;
	margin-left: 27px;
}

.ban {
	padding-left: 47px;
}

.down-btn {
	margin-left: 23px;
}

.srch-in {
	color: #ffffff;
	opacity: 1;
	box-shadow: inset 0 -3px 0 #ffffff;
}

.srch-in::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  0.5;
   font-style: italic;
}

.srch-in::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
    opacity:  0.5;
    font-style: italic;
}

.scnd {
	padding-left: 8px;
}

.thrd {
	padding-left: 18px;
}

.frth {
	padding-left: 25px;
}

.ffth {
	padding-left: 68px;
}

.user-pagination ul.pagination li a {
    color: #007772;
}

.users-pagination ul.pagination li.active a,
.users-pagination ul.pagination li a:focus {
    color: white;
    background-color: #007772;
    outline-style: none;
}

.users-rows {
	color: #007772;
	float: right;
}

.srch-rows {
	color: #007772;
}

