.users-list {
    background-color: #fff;
    margin-left: 0px;
    margin-top: 120px;
}

.fa-angle-down {
    color: rgb(2, 119, 189);
}

.status-btn {
    color: #a8040499;
    cursor: pointer;
    margin-left: 17px;
}

.srch-sgn {
	margin-top: 8px;
	margin-left: 43px;
}


.name {
    font-size: 35px;
    font-weight: bold;
}

.user-info {
    font-weight: bold;
    font-size: 15px;
    margin-right: 15px;
}

.user-data {
    font-size: 15px;
}

.status-btn {
    color: #d24646;
    cursor: pointer;
    margin-left: 10px;
}

.status-srch {
	margin-top: 8px;
	cursor: pointer;
	margin-left: 20px;
}

.ban-btn {
	padding-left: 47px;
}

.down-btn {
	margin-left: 23px;
}

.srch-in {
	color: #ffffff;
	opacity: 1;
	box-shadow: inset 0 -3px 0 #ffffff;
}

.srch-in::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
   font-style: italic;
}

.srch-in::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
    opacity:  1;
    font-style: italic;
}

.frst {
	cursor: pointer;	
}
.scnd {
	padding-left: 8px;
	cursor: pointer;
}

.thrd {
	padding-left: 18px;
	cursor: pointer;
}

.frth {
	padding-left: 25px;
	cursor: pointer;
}

.ffth {
	padding-left: 52px;
	cursor: pointer;
}

.user-pagination ul.pagination li a {
    color: #007772;
}

.users-pagination ul.pagination li.active a,
.users-pagination ul.pagination li a:focus {
    color: white;
    background-color: #007772;
    outline-style: none;
}

.users-rows {
	color: #007772;
	float: left;
}

.srch-rows {
	color: #007772;
}

.srch-roles {
	color:    #ffffff;
    opacity:  1;
    font-style: italic;
    background-color: #007772;
    box-shadow: inset 0 -3px 0 #ffffff;
}
.search-table {
	border-top: 1px solid #007772;
}

.srch-roles select, .srch-roles select.form-control {
	 box-shadow: inset 0 -1px 0 #ffffff;
}

.userspagination {
	margin-left: 120px;
}

.up-btn {
	color: #007772;
	float: right;
    padding-right: 25px;
    cursor: pointer;
}
    
