.user-header {
    margin-left: 15px;
}

.user-profiles {
    font-size: 16px;
}

.user-subinfo .user-sub {
    padding-right: 15px;
    font-size: 16px;
}

.custom-row {
    background-color: #fff;
    margin-left: 2px;
    margin-top: 50px;
}

.fa-angle-down {
    color: rgb(2, 119, 189);
}

.status-btn {
    color: #a8040499;
}

hr {
    border-color: transparent;
}

.name {
    font-size: 25px;
    font-weight: bold;
}

.user-info {
    font-weight: bold;
}

.photo {
    margin-left: 30px;
}



