<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Orders</span>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-btn">
                        <a ng-click="showOrderCreation()" class="btn btn-default">
                            <i class="fa fa-plus" aria-hidden="true"></i> Order
                        </a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="navbar-sub">
            <ul class="nav nav-tabs">
                <li ui-sref-active="active"><a ui-sref="orders.active" data-toggle="tab" aria-expanded="true">ACTIVE</a></li>
                <li ui-sref-active="active"><a ui-sref="orders.closed" data-toggle="tab" aria-expanded="false">CLOSED</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="site-content">
    <!-- Fix it -->
    <!--<div class="input-group pull-right">
        <div class="row col-md-4">
            <b >Filter by:</b>
            <select id="filter" class="form-control">
                <option value="city_from">City from</option>
                <option value="city_to">City to</option>
                <option value="weight">Weight</option>
                <option value="arrival_date">Arrival date</option>
            </select>
            <input class="form-control " type="text" id="filter_value" value="">
            <input class="btn btn-submit " ng-click="filter()" type="submit" name="filter_submit" value="Filter">
        </div>
    </div>
    <br><br><br>-->
    <ui-view></ui-view>
</div>