<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Orders</span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-btn">
                        <a ng-click="showOrderCreation()" class="btn btn-default">
                            <i class="fa fa-plus" aria-hidden="true"></i> Order
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="site-content">
    <h5 class="order-header">In Progress</h5>
    <div ng-repeat="order in orders.inProgress track by $index" class="panel panel-default order-in-progress">
        <div class="panel-body">
            <div class="order-city">
                {{order.cityNameFrom}} &mdash; {{order.cityNameTo}}
            </div>
            <div class="order-subinfo">
                <span class="order-sub"><i class="fa fa-calendar" aria-hidden="true"></i>Arrival in {{order.arrivalDate | date}}</span>
                <span class="order-sub"><i class="fa fa-map-marker" aria-hidden="true"></i>Ternopil</span>
                <span class="order-sub"><i class="fa fa-car" aria-hidden="true"></i>{{order.driverName}}</span>
            </div>
        </div>
    </div>
    <h5 class="order-header">Open</h5>
    <div ng-repeat="order in orders.open track by $index" class="panel panel-default order-open">
        <div class="panel-body">
            <div class="order-actions">
                <i class="fa fa-car" aria-hidden="true"></i>
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
            <div class="order-city">
                {{order.cityNameFrom}} &mdash; {{order.cityNameTo}}
            </div>
            <div class="order-subinfo">
                <span class="order-sub"><i class="fa fa-calendar" aria-hidden="true"></i>Arrival in {{order.arrivalDate | date}}</span>
            </div>
        </div>
    </div>
    <h5 class="order-header">Closed</h5>
    <div ng-repeat="order in orders.closed track by $index" class="panel panel-default order-closed">
        <div class="panel-body">
            <div class="order-city">
                {{order.cityNameFrom}} &mdash; {{order.cityNameTo}}
            </div>
            <div class="order-subinfo">
                <span class="order-sub"><i class="fa fa-calendar" aria-hidden="true"></i>Arrival in {{order.arrivalDate | date}}</span>
                <span class="order-sub"><i class="fa fa-map-marker" aria-hidden="true"></i>Ternopil</span>
                <p class="navbar-btn">
                    <a ng-click="addFeedback()" class="btn btn-default">
                        <i class="fa fa-plus" aria-hidden="true"></i> Feedback
                    </a>
                </p>
            </div>
        </div>
    </div>

</div>