<h5 class="order-header">In Progress</h5>
<div ng-repeat="order in orders.inProgress track by $index" class="panel panel-default order-in-progress">
    <div class="panel-body">
        <div class="order-city">
            {{order.cityNameFrom}} &mdash; {{order.cityNameTo}}
        </div>
        <div class="order-subinfo">
            <span class="order-sub"><i class="fa fa-calendar" aria-hidden="true"></i>Arrival in {{order.arrivalDate | date}}</span>
            <span class="order-sub"><i class="fa fa-map-marker" aria-hidden="true"></i>Ternopil</span>
            <span class="order-sub"><i class="fa fa-car" aria-hidden="true"></i>{{order.driverName}}</span>
        </div>
    </div>
</div>
<h5 class="order-header">Open</h5>
<div ng-repeat="order in orders.open track by $index" class="panel panel-default order-open">
    <div class="panel-body">
        <div class="order-actions">
            <i class="fa fa-car" aria-hidden="true"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <div class="order-city">
            {{order.cityNameFrom}} &mdash; {{order.cityNameTo}}
        </div>
        <div class="order-subinfo">
            <span class="order-sub"><i class="fa fa-calendar" aria-hidden="true"></i>Arrival in {{order.arrivalDate | date}}</span>
        </div>
    </div>
</div>